{
   margin: 0%;
   padding:0%;
}
body{
    background-image:url(https://getwallpapers.com/collection/full-hd-nature-wallpapers);
    background-size: 100% 740%;
}
.contain{
    width: 300px;
    height:400px;
    text-align: center;
    color: whitesmoke;
}
.contain .text{
    position: relative;
    top: 7%;
}